captionator/whisper_models/large.pt
captionator/uploads/SIH_DEMO_VIDEO.mp4 
captionator/uploads/SIH_DEMO_VIDEO.mp4.wav
captionator/uploads/SIH_DEMO_VIDEO.mp4.srt
captionator/uploads/SIH_DEMO_VIDEO.mp4.txt
captionator/uploads/SIH_DEMO_VIDEO.mp4.json
captionator/uploads/SIH_DEMO_VIDEO.mp4.vtt
captionator/uploads/SIH_DEMO_VIDEO.mp4.srt
captionator/uploads/SIH_DEMO_VIDEO.mp4.txt
captionator/uploads/SIH_DEMO_VIDEO.mp4.json
captionator/uploads/SIH_DEMO_VIDEO.mp4.vtt
uploads/SIH DEMO VIDEO.mp4
uploads/SIH DEMO VIDEO.mp4
uploads/SIH_DEMO_VIDEO.mp4
static/output/captioned_SIH_DEMO_VIDEO.mp4S